<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-2 footer">
        <div class="footer-logo">
          <a href="/"><img src="/images/monstermainTr.png" alt="Monster Logo" class="" /></a>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/MonsterEnergy/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/monsterenergy/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://x.com/MonsterEnergy" target="_blank"><i class="fa-brands bi-twitter-x"></i></a>
          <a href="https://www.youtube.com/monsterenergy" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="d-none d-xl-block col-lg-3"></div>

      <div class="col-12 col-md-4 col-xl-3 footer-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/#About">About</a></li>
          <li><a href="/#Gallery">Gallery</a></li>
          <li><a href="/#Products">Products</a></li>
          <li><a href="/#Events">Events</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 col-lg-3 footer-links">
        <h3>Support</h3>
        <ul>
          <li><a href="/faq">Faq</a></li>
        </ul>
      </div>

      <div class="d-none d-xl-block col-xl-1"></div>
    </div>

    <div class="row">
      <div class="col footer-bottom">&copy; 2025 White Monster</div>
    </div>
  </div>
</footer>
