<header>
  <div class="header-left stickyRef">
    <a href="/#About">About</a>
    <a href="/#Gallery">Gallery</a>
    <a href="/#Products">Products</a>
    <a href="/#Events">Events</a>

    <input type="checkbox" id="hamburger-checkbox" class="hamburger-checkbox" />
    <label for="hamburger-checkbox" class="hamburger hamburger--squeeze">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </label>
    <nav class="menu">
      <div class="search-bar search-inside">
        <input type="text" placeholder="Search..." />
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
      <a href="/#About">About</a>
      <a href="/#Gallery">Gallery</a>
      <a href="/#Products">Products</a>
      <a href="/#Events">Events</a>
    </nav>
  </div>

  <div class="header-middle stickyRef">
    <a href="#Start">
      <img src="/images/monsterlogo.svg" alt="Monster Logo" class="navbar-icon" />
    </a>
  </div>
  <div class="header-right stickyRef">
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <a href="#"><i class="fas fa-search"></i></a>
    </div>
  </div>
</header>
